:root {
	--bk-dark: #1b1841;
	--bk-light: #2d2863;
	--red: #f08989;
	--green: #a2e497;
	--text: #d8e6eb;
	--color: #4339b8;
}
html,
body {
	font-family: "Roboto", sans-serif;
	background-color: var(--bk-dark);
	color: var(--text);
	margin: 0px;
	padding: 0px;
	/* width: 100vw;
	height: 100vh; */
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
.btn-link {
	background-color: var(--color);
	color: var(--text);
	padding: 15px 30px;
	border-radius: 20px;
	box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
	transition: 0.5s;
}
.btn-link:hover {
	transform: scale(1.05);
	box-shadow: 0px 16px 4px rgba(0, 0, 0, 0.25);
}

.text-input {
	background-color: var(--bk-dark);
	border: solid 1px var(--color);
	border-radius: 10px;
	width: 100%;
	height: 1.1rem;
	color: var(--text);
	padding-left: 10px;
}

.form-btn {
	border: none;
	background-color: var(--color);
	color: var(--text);
	font-weight: bold;
	padding: 10px 40px;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
	transition: 0.5s;
}
.form-btn:hover {
	transform: scale(1.05);
	box-shadow: 0px 16px 4px rgba(0, 0, 0, 0.25);
}
