:root {
	--bk-dark: #1b1841;
	--bk-light: #2d2863;
	--red: #f08989;
	--green: #a2e497;
	--text: #d8e6eb;
	--color: #4339b8;
}
body {
	font-family: "Roboto", sans-serif;
	background-color: var(--bk-dark);
	color: var(--text);
}
a {
	text-decoration: none;
}
