version: "3"
services:
  nginx:
    image: nginx:stable-alpine
    volumes:
      - web-root:/usr/share/nginx/html
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - dhparam:/etc/ssl/certs
    ports:
      - "80:80"
      - "443:443"
    networks:
      - fi-network
    restart: unless-stopped
    depends_on:
      - node-app
  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - web-root:/var/www/html
    depends_on:
      - nginx
    command: sudo certonly --webroot --webroot-path=/var/www/html --email nicolasdeheza@hotmail.com --agree-tos --no-eff-email --staging -d fi.nicolasdeheza.com
  node-app:
    build:
      context: ./server
      args:
        NODE_ENV: production
    environment:
      - NODE_ENV=production
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_PORT=3306
      - SECRET=${SECRET}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_URL=redis://redis:6379
      - YF_API_KEY=${YF_API_KEY}
    networks:
      - fi-network
    restart: unless-stopped
    depends_on:
      - mysql
      - redis
  mysql:
    image: mysql:8
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=fakeInversor
    ports:
      - "3306:3306"
    networks:
      - fi-network
    volumes:
      - FIdbV:/var/lib/mysql
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    volumes:
      - ./:/usr/local/etc/redis
    command: redis-server /usr/local/etc/redis/redis.conf
    ports:
      - "6379:6379"
    networks:
      - fi-network
volumes:
  FIdbV:
  certbot-etc:
  certbot-var:
  web-root:
    driver: local
    driver_opts:
      type: none
      device: ./client/build/
      o: bind
  dhparam:
    driver: local
    driver_opts:
      type: none
      device: /home/nicolasdeheza/fake-investor/dhparam/
      o: bind
networks:
  fi-network:
    driver: bridge
