.portfolio-stats table {
	border-collapse: collapse;
	width: 100%;
}
.portfolio-stats table td {
	border-bottom: solid 1px var(--text);
	padding: 10px 0px;
}
.portfolio-stats-col1 {
	text-align: left;
}
.portfolio-stats-col2 {
	text-align: center;
}
.portfolio-stats-col3 {
	text-align: right;
}

.portfolio-stats-arrow {
	width: 20px;
	display: inline-block;
	vertical-align: middle;
}
