.home-header {
	position: relative;
	background: var(--bk-dark) url("../assets/home-bk.svg") top no-repeat;
	background-size: 100%;
	margin-bottom: 50px;
}
.home-header img {
	width: 100%;
}
.home-header h1 {
	padding: 0px;
	margin: 0px;
}
.home-header p {
	position: absolute;
	max-width: 450px;
	width: 50%;
	top: 50%;
	left: 40%;
	font-size: clamp(18px, 5vw, 36px);
}
.home-header a {
	position: absolute;
	bottom: 20px;
	right: 15%;
}

.home-article {
	background: linear-gradient(180deg, var(--bk-light) 0%, var(--bk-dark) 100%);
	width: 90%;
	margin: auto;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 50px;
	margin-bottom: 50px;
}
.home-article section {
	/* border: solid; */
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 20px 30px;
}
.home-article h1 {
	color: var(--green);
	display: flex;
	flex-direction: column;
	font-size: 65px;
}
.home-article h1 span {
	color: var(--red);
	padding-left: 40%;
	margin-top: -15px;
}
.home-article-text {
	width: 50%;
}
.home-article-text-red {
	color: var(--red);
}
.home-article-text-green {
	color: var(--green);
}

@media (max-width: 900px) {
	.home-header {
		display: flex;
		flex-direction: column;
	}
	.home-header-ele {
		position: absolute;
		left: 25%;
		top: 60%;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* border: solid; */
	}
	.home-header p {
		position: relative;
		max-width: unset;
		margin: 0px;
		padding: 0px;
		width: 100%;
		left: inherit;
		top: inherit;
		margin-bottom: 20px;
		margin-left: -25%;
		justify-self: center;
	}
	.home-header a {
		position: relative;
		bottom: inherit;
		right: inherit;
		width: fit-content;
	}
	.home-header h1 {
		width: 100%;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.home-header img {
		object-fit: cover;
		min-width: 1000px;
		/* object-position: 50%; */
	}

	.home-article h1 {
		font-size: 36px;
		margin-bottom: 0px;
	}
	.home-article img {
		display: none;
	}

	.home-article-text {
		width: 90%;
	}
}

@media (max-width: 300px) {
	.home-header img {
		/* object-fit: cover; */
		min-width: 700px;
		/* object-position: 50%; */
	}

	.home-header p {
		font-size: 12px;
	}
	.home-header a {
		font-size: 12px;
	}
}
