.portfolio {
	min-height: 100vh;
	padding: 0px 6vw;
	padding-top: 60px;
}
.portfolio header {
	position: relative;
	max-width: 800px;
}
.portfolio h1 {
	position: relative;
	font-size: clamp(32px, 10vw, 64px);
	z-index: 2;
}
.portfolio header img {
	position: absolute;
	top: -80px;
	left: -200px;
	z-index: 1;
}

.portfolio-top-container {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.portfolio-chart {
	background-color: red;
	width: 40vw;
	height: 20vw;
	border-radius: 20px;
}

@media (max-width: 1000px) {
	.portfolio-top-container {
		flex-direction: column-reverse;
		/* border: solid; */
	}

	.portfolio-chart {
		width: 80vw;
		height: 40vw;
	}
}
