.stock-main-container {
	min-height: 100vh;
	margin-top: 80px;
}
.stock-main-container h1 {
	font-size: clamp(1rem, 5vw, 3rem);
	margin-left: 20px;
}
/*-------------------- bar------------------------- */
.stock-main-container h3,
p {
	margin: 0px;
}
.stock-main-container h3 {
	position: relative;
	display: flex;
	align-items: center;
	font-size: clamp(0.8rem, 3vw, 2rem);
}
.stock-main-container p {
	font-size: clamp(0.7rem, 2vw, 1rem);
}
.stock-main-bar-daily {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.stock-main-bar-daily-arrow {
	position: absolute;
	top: 0px;
	left: -70%;
	height: 100%;
	width: 100%;
	margin-right: clamp(1px, 5vw, 10px);
	display: flex;
	justify-content: center;
	align-items: center;
}
.stock-main-bar {
	background: linear-gradient(180deg, var(--bk-dark) 0%, var(--bk-light) 100%);
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.stock-main-bar-price {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 30px 0px;
}

/* --------------------b------------------------------- */
.stock-b {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 80px;
	padding-bottom: 80px;
}

/* -----------------n-data------------------------------ */
.stock-b-data {
	/* border: solid; */
	width: 40%;
}

.stock-b-data-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 1px;
	padding: 15px 0px;
}

.stock-b-data-item-r {
	display: flex;
	justify-content: center;
	align-items: center;
}
.stock-b-data-item-r span {
	width: 1.5rem;
	margin-right: 10px;
}

/* -----------------chart-container-------------------------- */

/* .stock-b-chart-container {
	 display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: repeat(3, auto);
	gap: 10px;
	 border: solid;
} */
.stock-b-chart-container {
	/* border: solid; */
	text-align: center;
}

.stock-b-graf {
	position: relative;
	width: 40vw;
	height: 25vw;
	display: inline-block;
	background: linear-gradient(180deg, var(--bk-light) 0%, var(--bk-dark) 100%);
	border-radius: 20px;
}

@media (max-width: 900px) {
	.stock-b {
		flex-direction: column-reverse;
	}
	.stock-b-chart-container {
		margin-bottom: 50px;
	}
	.stock-b-data {
		width: 70%;
	}
	.stock-b-graf {
		width: 70vw;
		height: 40vw;
	}
}

@media (max-width: 500px) {
	text {
		font-size: clamp(5px, 2vw, 8px);
	}
}

@media (max-width: 400px) {
	.stock-b-graf {
		width: 90vw;
		height: 56vw;
	}
	.stock-b {
		margin-top: 50px;
	}
}

.domain,
.tick line {
	display: none;
}
.tooltip-stock {
	background-color: var(--color);
	border-radius: 5px;
	padding: 10px;
	position: absolute;
}
.tooltip-stock ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	line-height: 10px;
}
.tooltip-stock li {
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	line-height: 15px;
	/* border: solid; */
}
.stock-chart-btn {
	width: 100%;
	text-align: left;
}
.stock-chart-btn button {
	background-color: var(--bk-light);
	color: var(--text);
	border: solid 1px var(--color);
	border-radius: 5px;
	margin: 5px 1px;
	cursor: pointer;
}
