.navBarContainer {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10;
}
.navBar {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 5px;
	background-color: var(--bk-light);
	z-index: 10;
}
.navBar-menuIcon {
	display: none;
}
.navBar-mobile {
	display: none;
}
.navBarLinks {
	display: flex;
	align-items: center;
}
.navBarStock {
	margin-right: 200px;
}
.navBarStock a {
	background-color: var(--color);
	font-weight: bold;
	color: var(--green);
	padding: 7px 20px;
	border-radius: 10px;
}
.navBarUser a {
	margin: 0px 30px;
	color: var(--text);
}
.navBarIcon {
	width: 36px;
	height: 36px;
}

@media (max-width: 700px) {
	.navBarLinks {
		display: none;
	}
	.navBarStock {
		display: none;
	}
	.navBar-menuIcon {
		display: block;
		width: 34px;
		height: 34px;
		margin-right: 25px;
	}
	.navBar-mobile {
		display: block;
		background-color: var(--bk-dark);
		position: absolute;
		width: 100%;
		transition: top 0.8s ease;
	}
	.navBar-mobile a {
		display: block;
		text-align: center;
		margin: auto;
		color: var(--text);
		padding: 20px 0px;
		/* width: 90%; */
		border-bottom: 3px solid var(--bk-light);
	}
	.nav-on {
		top: 53px;
	}
	.nav-off {
		top: -200px;
	}
}
